<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CustomViews"
        tools:targetApi="31">
        <activity
            android:name=".ui.SetPinPatternActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ManualCutoutActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageOutlineActivity"
            android:exported="false" />
        <activity
            android:name=".ui.CollegeSampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageLutActivity"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".ui.OpenGLVideoRecordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageLightOnActivity"
            android:exported="false" />
        <activity
            android:name=".ui.AdjustShadowActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GifMakerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.GLTransitionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.PatternLockActivity"
            android:exported="false" />
        <activity
            android:name=".ui.DownloadFontSampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OpenGLImageVideoFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.VideoTransformerActivity"
            android:exported="false" />
        <activity
            android:name=".ui.BlurImageActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OpenGLFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.RulerSampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OpenGLSampleActivity"
            android:exported="false" />
        <activity
            android:name=".ui.SwapFaceResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.LUTFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.MosaicActivity"
            android:exported="false" />
        <activity
            android:name=".ui.OpenGLProcessorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageFilter2Activity"
            android:exported="false" />
        <activity
            android:name=".ui.ScalableImageViewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ColorPanelActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ScaleCanvasActivity"
            android:exported="false" />
        <activity
            android:name=".ui.TurntableActivity"
            android:exported="false" />
        <activity
            android:name=".ui.ImageFilterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.WatermarkMaterialActivity"
            android:exported="false"
            android:label="@string/title_activity_watermark_material"
            android:theme="@style/Theme.CustomViews" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>